# Capstone - Toronto Shelter Occupancy Prediction

## Import Modules

In [233]:
import pandas as pd
import warnings
import datetime
import requests
import json
import dateutil.parser
from astral import Astral

# Ignore warnings
warnings.filterwarnings("ignore")

---

## Data Clearning & Feature Engineering

In [203]:
# Getting occupancy data
df_17 = pd.read_csv('data/daily-shelter-occupancy-2017-csv.csv')
df_18 = pd.read_csv('data/daily-shelter-occupancy-2018-csv.csv')
df_19 = pd.read_json('https://ckan0.cf.opendata.inter.prod-toronto.ca/download_resource/e4cdcaff-7c06-488a-a072-4880fbd84b88')
df = pd.concat([df_17, df_18, df_19])

In [204]:
# Dropping unuseful columns
df.drop(['_id', 'id'], axis=1, inplace=True)

In [222]:
# Checking if there are any rows with null or zero value in CAPACITY but non-zero value in OCCUPANCY
for program in df[((df.CAPACITY.isna()) | (df.CAPACITY == 0)) & (df.OCCUPANCY != 0)]['PROGRAM_NAME'].value_counts().index:
    # Assuming the max OCCUPANCY as the CAPACITY
    df.loc[df.PROGRAM_NAME == program, 'CAPACITY'] = df[df.PROGRAM_NAME == program].OCCUPANCY.max()

In [206]:
# Checking if there are any rows with null or zero values in OCCUPANCY, and drop these rows
df.drop(df[(df.OCCUPANCY == 0) | (df.OCCUPANCY.isna())].index, inplace=True)

In [207]:
# Getting addresses with empty postal codes
missing_postal_code_addresses = df[df.SHELTER_POSTAL_CODE.isna()].SHELTER_ADDRESS.value_counts().index

In [208]:
# Checking postal codes with Google Maps
postal_dict = {
    '38 Bathrust St': 'M5V 3W3',
    '67 Adelaide Street East' : 'M5C 1K6', 
    '1673 Kingston Road' : 'M1N 1S6',
    '1651 Sheppard Ave West' : 'M3M 2X4', 
    '129 Peter St' : 'M5V 1X1'
}

In [209]:
# Filling missing postal codes
for address in missing_postal_code_addresses:
    df.loc[df.SHELTER_ADDRESS == address, 'SHELTER_POSTAL_CODE'] = postal_dict[address]

In [210]:
# Cleaning postal code format

# Remove non-alphanumeric characters
df.SHELTER_POSTAL_CODE = df.SHELTER_POSTAL_CODE.replace('[^a-zA-Z0-9]', '' ,regex=True)

# Separate two components with space
df.SHELTER_POSTAL_CODE = df.SHELTER_POSTAL_CODE.apply(lambda s: s[:3] + ' ' + s[3:])

In [211]:
# Cleaning wrong postal code characters (M2N OE3)
df.loc[df.SHELTER_POSTAL_CODE == 'M2N OE3', 'SHELTER_POSTAL_CODE'] = 'M2N 0E3'

In [244]:
# Getting shelter location coordinates and save them to a csv file
for postal_code in df.SHELTER_POSTAL_CODE.unique():
    try:
        response = requests.get(
            'https://maps.googleapis.com/maps/api/geocode/json', 
            params = {'address' : postal_code, 'key' : 'AIzaSyA1h6MPEmN3FrIM2Yr3awaU03C6P9iwMCo'})
        result = json.loads(response.content.decode("utf-8"))['results'][0]
        lat = result['geometry']['location']['lat']
        lng = result['geometry']['location']['lng']
        sublocaity = result['address_components'][1]['short_name']
        file = open('data/shelter_coordinates.csv','a')
        file.write(f'\n{postal_code},{lat},{lng},{sublocaity}')
        file.close()
    except:
        print(postal_code)

In [245]:
# Reading shelter coordinates file to a Pandas DataFrame
coor_df = pd.read_csv('data/shelter_coordinates.csv')

In [212]:
# Calculating occupancy rate
df['OCCUPANCY_RATE'] = df.OCCUPANCY / df.CAPACITY

In [238]:
# Changing data type of CAPACITY column
df.CAPACITY = df.CAPACITY.astype(int)

In [237]:
# Changing data type of OCCUPANCY_DATE
df.OCCUPANCY_DATE = pd.to_datetime(df.OCCUPANCY_DATE)

In [249]:
# Gettting weather data
weather_2017_df = pd.read_csv('data/2017-toronto-weather.csv')
weather_2018_df = pd.read_csv('data/2018-toronto-weather.csv')
weather_2019_df = pd.read_csv('https://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=31688&Year=2019&timeframe=2&submit=Download+Data')
weather_df = pd.concat([weather_2017_df, weather_2018_df, weather_2019_df])

In [250]:
# Cleaning weather data, dropping unnecessary columns
weather_df = weather_df.drop(['Longitude (x)', 'Latitude (y)', 'Station Name', 'Climate ID', 'Data Quality',
       'Max Temp Flag', 'Min Temp Flag', 'Mean Temp Flag', 'Heat Deg Days Flag', 'Cool Deg Days Flag',
       'Total Rain Flag', 'Total Snow Flag', 'Total Precip Flag', 'Snow on Grnd (cm)',
       'Snow on Grnd Flag', 'Dir of Max Gust (10s deg)', 'Dir of Max Gust Flag', 'Spd of Max Gust (km/h)',
       'Spd of Max Gust Flag','Total Rain (mm)', 'Total Snow (cm)', 
        'Heat Deg Days (°C)', 'Cool Deg Days (°C)'], axis=1)

In [251]:
# Calculating the lengths of daylight each day in hours

# Coordinates of Toronto
latitude = 43.7001100
longitude = -79.4163000

# Function to calculate daylight hours in Toronto on a specific day
def get_daylight_hours(year, month, day):
    astral = Astral()
    sr, ss = astral.daylight_utc(datetime.date(year,month,day), latitude, longitude)
    return (ss - sr).seconds / 3600

weather_df['Daylight_Hours'] = weather_df.apply(lambda df : get_daylight_hours(df.Year, df.Month, df.Day), axis=1)

In [252]:
# Convert date in weather data frame to datetime
weather_df['Date/Time'] = pd.to_datetime(weather_df['Date/Time'])

In [39]:
# Selecting year round shelter programs (ones that have existed since 2017-01-01)
program_value_counts = df.PROGRAM_NAME.value_counts()
program_value_counts = program_value_counts[program_value_counts == program_value_counts.max()]
year_round_programs = program_value_counts.index
df_year_round = df[df.ORGANIZATION_NAME.isin(year_round_programs)]

In [253]:
# Combine data together
weather_df

,Date/Time,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Total Precip (mm),Daylight_Hours
0,2017-01-01,2017,1,1,3.1,-0.5,1.3,0.0,8.990833
1,2017-01-02,2017,1,2,5.5,0.7,3.1,0.0,9.004722
2,2017-01-03,2017,1,3,4.8,2.4,3.6,11.3,9.019722
3,2017-01-04,2017,1,4,3.8,-7.6,-1.9,0.6,9.036111
4,2017-01-05,2017,1,5,-5.3,-10.3,-7.8,0.0,9.053333
5,2017-01-06,2017,1,6,-5.9,-11.8,-8.9,0.0,9.071944
6,2017-01-07,2017,1,7,-6.4,-11.8,-9.1,0.0,9.091944
7,2017-01-08,2017,1,8,-8.2,-11.1,-9.7,0.0,9.112500
8,2017-01-09,2017,1,9,-1.2,-8.5,-4.9,0.0,9.134722
9,2017-01-10,2017,1,10,7.1,-1.7,2.7,18.3,9.157222
10,2017-01-11,2017,1,11,8.2,1.9,5.1,4.3,9.181667
11,2017-01-12,2017,1,12,9.8,-1.0,4.4,15.6,9.206389
12,2017-01-13,2017,1,13,-0.6,-7.8,-4.2,0.0,9.232500
13,2017-01-14,2017,1,14,-2.1,-8.5,-5.3,0.0,9.259722
14,2017-01-15,2017,1,15,0.5,-4.4,-2.0,0.0,9.287778
15,2017-01-16,2017,1,16,3.7,-4.0,-0.2,0.0,9.316667
16,2017-01-17,2017,1,17,2.6,1.2,1.9,13.5,9.346389
17,2017-01-18,2017,1,18,4.5,1.8,3.2,0.4,9.377222
18,2017-01-19,2017,1,19,4.2,2.0,3.1,0.0,9.408889
19,2017-01-20,2017,1,20,4.2,1.9,3.1,0.0,9.441111
20,2017-01-21,2017,1,21,6.7,3.5,5.1,0.0,9.474444
21,2017-01-22,2017,1,22,5.9,2.5,4.2,0.0,9.508333
22,2017-01-23,2017,1,23,4.4,1.2,2.8,0.0,9.543333
23,2017-01-24,2017,1,24,1.9,0.3,1.1,0.5,9.578889
24,2017-01-25,2017,1,25,5.5,1.3,3.4,2.6,9.615278
25,2017-01-26,2017,1,26,4.8,1.5,3.2,2.2,9.652222
26,2017-01-27,2017,1,27,2.1,-0.3,0.9,0.3,9.689722
27,2017-01-28,2017,1,28,-0.2,-1.5,-0.9,0.7,9.728056
28,2017-01-29,2017,1,29,-1.0,-5.9,-3.5,0.0,9.767222
29,2017-01-30,2017,1,30,-4.0,-10.1,-7.1,0.0,9.806667
...,...,...,...,...,...,...,...,...,...
335,2019-12-02,2019,12,2,-0.1,-3.6,-1.9,5.9,9.170833
336,2019-12-03,2019,12,3,1.8,-6.6,-2.4,0.5,9.147222
337,2019-12-04,2019,12,4,4.1,0.8,2.5,0.4,9.125000
338,2019-12-05,2019,12,5,1.5,-0.7,0.4,0.2,9.103611
339,2019-12-06,2019,12,6,1.1,-3.2,-1.1,6.3,9.083333
340,2019-12-07,2019,12,7,NaN,NaN,NaN,NaN,9.064167
341,2019-12-08,2019,12,8,NaN,NaN,NaN,NaN,9.046111
342,2019-12-09,2019,12,9,NaN,NaN,NaN,NaN,9.029167
343,2019-12-10,2019,12,10,NaN,NaN,NaN,NaN,9.013333
344,2019-12-11,2019,12,11,NaN,NaN,NaN,NaN,8.998889
345,2019-12-12,2019,12,12,NaN,NaN,NaN,NaN,8.985556
346,2019-12-13,2019,12,13,NaN,NaN,NaN,NaN,8.973333
347,2019-12-14,2019,12,14,NaN,NaN,NaN,NaN,8.962500
348,2019-12-15,2019,12,15,NaN,NaN,NaN,NaN,8.952500
349,2019-12-16,2019,12,16,NaN,NaN,NaN,NaN,8.944167
350,2019-12-17,2019,12,17,NaN,NaN,NaN,NaN,8.936944
351,2019-12-18,2019,12,18,NaN,NaN,NaN,NaN,8.931111
352,2019-12-19,2019,12,19,NaN,NaN,NaN,NaN,8.926667
353,2019-12-20,2019,12,20,NaN,NaN,NaN,NaN,8.923056
354,2019-12-21,2019,12,21,NaN,NaN,NaN,NaN,8.920833
355,2019-12-22,2019,12,22,NaN,NaN,NaN,NaN,8.920000
356,2019-12-23,2019,12,23,NaN,NaN,NaN,NaN,8.920278
357,2019-12-24,2019,12,24,NaN,NaN,NaN,NaN,8.921944
358,2019-12-25,2019,12,25,NaN,NaN,NaN,NaN,8.925000
359,2019-12-26,2019,12,26,NaN,NaN,NaN,NaN,8.929444
360,2019-12-27,2019,12,27,NaN,NaN,NaN,NaN,8.934722
361,2019-12-28,2019,12,28,NaN,NaN,NaN,NaN,8.941667
362,2019-12-29,2019,12,29,NaN,NaN,NaN,NaN,8.949722
363,2019-12-30,2019,12,30,NaN,NaN,NaN,NaN,8.958889
364,2019-12-31,2019,12,31,NaN,NaN,NaN,NaN,8.969444